.card {
    position: relative;
   padding: 16px 14px 0px 16px;
   cursor: pointer;
   overflow: hidden;
   border-radius: 3px;
   border: 1px solid  #E4E7E9;
   background-color:  #FFF;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   -ms-border-radius: 3px;
   -o-border-radius: 3px;
}
.mainImg {
    width: 200px;
    height: 166px;
    object-fit: cover;
    margin: auto !important;
}
svg {
    opacity: 1 !important;
}
.rev {
    color:  #77878F;


font-size: 12px;
font-weight: 400;

}
.title {
    color: var(--darkColor);
font-size: 14px;
width: 90% !important;

}
@media screen and (max-width : 767px) {
    .title {
        width: 100% !important;
    }
}
.del {
    color:  #929FA5;
font-size: 14px;

}
.current {
    color:  #2DA5F3;

font-size: 14px;
font-weight: 600;

}
.status {
    position: absolute;
    top: 5px;
    left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: white;
    padding: 5px 10px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
.green {
    background-color: #2DB224;
}
.red {
    background-color: #EE5858;
}
.gray {
    background-color: #929FA5;
}
.blue {
    background-color: #2DA5F3;
}
.yellow {
    background-color: #EFD33D;
    color: var(--darkColor) !important;
}
.overlay {
    position: absolute;
    top: 0;
    left: -400%;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}
.card:hover .overlay {
    left: 0;
}
.productDetails {
    padding: 0 !important;
    margin: 0 !important;
    position: absolute;
    left: 50%;
    top: -300%;
    transition: 0.4s;
    transform: translateX(-50%) !important;
    -webkit-transform: translateX(-50%) !important;
    -moz-transform: translateX(-50%) !important;
    -ms-transform: translateX(-50%) !important;
    -o-transform: translateX(-50%) !important;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}
.card:hover .productDetails {
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.circule {
    width: 34px;
    height: 34px;
    transition: 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}
.circule:hover {
    background-color: var(--buttonColor);
}
.icon {
    width: 20px;
    height: 20px;
    color: var(--darkColor) !important;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}
.circule:hover .icon {
    color : white !important ; 
}