.navContainer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 8888;
  background-color: white;
  width: 100vw;
  height: 110px;
  display: flex;
  align-items: center;
  box-shadow: 0px -1px 0px 0px #e4e7e9 inset;
}
.logo {
  width: 31px;
  height: 31px;
  object-fit: cover;
}
.tecno {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.64px;
}
.icon {
  color: var(--navColor) !important;
  opacity: 1 !important;
}
.sidebar {
  background-color: var(--darkColor);
  position: fixed;
  width: 320px;
  height: 100vh;
  z-index: 99999;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.right.show {
  right: 0;
}
.right.hide {
  right: -300%;
}
.left.show {
  left: 0;
}
.left.hide {
  left: -300%;
}
.close {
  color: var(--buttonColor) !important;
  opacity: 10 !important;
}
.links:hover {
  color: var(--buttonColor) !important;
  border-bottom: 1px solid var(--buttonColor);
}
.links.active {
  color: var(--buttonColor) !important;
  border-bottom: 1px solid var(--buttonColor);
}
.select {
  background-color: transparent !important;
  border: none;
  color: #ffffff;
  width: 27px;
  text-transform: uppercase;
}
.follow {
  color: var(--buttonColor);
  font-weight: bold;
  font-size: 18px;
}
.inputContainer {
  background-color: white;
  padding: 9px 15px;
  border: 1px solid #77878f !important;
  position: relative;
  box-shadow: 0px 8px 32px 0px rgba(0, 0, 0, 0.08);
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}
.inp {
  border: none;
  background-color: transparent;
}
.inp::placeholder {
  color: #77878f;
  font-weight: 400;
  font-size: 13px;
  text-transform: capitalize;
}
.inp:focus {
  outline: none;
}
.search {
  width: 17px;
  height: 17px;
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.cart ,
.heart {
  color: var(--navColor) !important;
  opacity: 1 !important;
}