* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Tajawal', sans-serif;
}
body {
  overflow-x: hidden;
  text-transform: capitalize;
 font-family: 'Tajawal', sans-serif;
}
html {
  scroll-behavior: smooth;
 font-family: 'Tajawal', sans-serif;
}
a {
  text-decoration: none !important;
}
ul,
li {
  list-style-type: none !important;
}
/* start variables */
:root {
  --sectionColor: #daf0ff;
  --navColor: #1b6392;
  --textColor: #5f6c72;
  --buttonColor: #fa8232;
  --orangeBg: rgba(254, 189, 23, 0.33);
  --darkColor: #191c1f;
  --yellowColor: #f3de6d;
}
/* end variables */
/* bootstrap classes */
.dropdown-menu.show {
  text-align: start !important;
  margin-top: 7px !important;
  width: fit-content !important;
}
/* ratio 0.61 */
/* utility classes */
.pointer {
  cursor: pointer;
}
.swiper-button-prev , .swiper-button-next {
  padding: 0;
  margin: 0;
  width: 38px;
  height: 38px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--buttonColor) !important;
  color: white !important;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.swiper-button-prev::after , .swiper-button-next:after {
  
  font-size: 17px !important;
}
.swiper-button-next {
  right: 0 !important;
}
.swiper-button-prev {
  left: 0 !important;
}