* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  text-transform: capitalize;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none !important;
}
ul,
li {
  list-style-type: none !important;
}
/* start variables */
:root {
  --sectionColor: #daf0ff;
  --navColor: #1b6392;
  --textColor: #5f6c72;
  --buttonColor: #fa8232;
  --orangeBg: rgba(254, 189, 23, 0.33);
  --darkColor: #191c1f;
  --yellowColor: #f3de6d;
}
/* end variables */

/* ratio 0.61 */
